/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
#tabstrip {
  padding: 0em;
  margin-bottom: 200px;
}
.tab {
  font-family: "Montserrat";
  font-weight: 400;
  cursor: pointer;
  float: left;
  margin: 0 0.2em 0 0;
  min-width: 3em;
  overflow: hidden;
  padding: 0.625em;
  white-space: nowrap;
  color: #ffffff;
}
.activeTab {
  background-color: #6d6d6d;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.inactiveTab {
  background-color: lightgrey;
  border-bottom: solid white 1px;
}
.activePanel {
  color: #ffffff;
  background-color: #6d6d6d;
  clear: both;
  display: flex;
  padding: 4em;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.inactivePanel {
  display: none;
}
html,
body {
  height: 100%;
  font-family: 'Economica', sans-serif;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}
/*** MY CODE BEGINS HERE ***/
/*** Variables ***/
/*** Mixins ***/
.border {
  border-top: solid 6px #573305;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.buttonShadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
/*** main styles are below ***/
.myFont {
  font-family: 'Economica', sans-serif;
  font-weight: 500;
  font-style: normal;
}
.responsive {
  width: 180px;
  height: 180px;
  margin: 35px;
  border-radius: 50%;
  border: solid 6px #573305;
}
.cellPhone {
  height: 400px;
}
a {
  color: #573305;
}
a a:hover {
  color: #6d6d6d;
}
strong {
  font-weight: bold;
}
p {
  padding-bottom: 10px;
  font-size: 24px;
}
h1 {
  font-size: 33px;
  font-family: 'Economica', sans-serif;
  color: #573305;
}
.navIco {
  text-shadow: 5px 5px 4px #000;
}
nav a {
  color: #e4e4e4;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000;
  padding-left: 20px;
  text-align: center;
  padding: 14px;
}
nav a:hover {
  text-decoration: overline;
  color: #6d6d6d;
}
.fixed-nav-bar {
  border-top: solid 6px #573305;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgba(0, 0, 0, 0.377);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 64px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.navUl {
  text-transform: uppercase;
  display: flex;
  font-size: 1.5em;
}
.icon {
  display: none;
}
.branding {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.branding h1 {
  color: #fff;
  font-size: 3rem;
  padding-left: 15px;
}
.container {
  width: 65%;
  padding: 25px;
  padding-top: 100px;
  margin: 0 auto;
}
.fadeIn {
  opacity: 0;
  animation: fadeIn 1.8s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: #000 url("/img/bookBg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header-text {
  padding: 20px;
  display: flex;
}
.header-h1 {
  text-align: center;
  font-size: 200px;
  color: #fff;
  text-shadow: 4px 4px 8px #000000;
}
.header-p {
  color: #6d6d6d;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  text-shadow: 4px 4px 8px #000000;
}
.btn-row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.header-btn {
  color: #fff !important;
  text-transform: uppercase;
  background: none;
  padding: 10px 55px;
  border: 2px solid #fff !important;
  border-radius: 2px;
  margin-left: 45px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.header-btn:hover {
  color: #494949 !important;
  background: #fff;
  border-color: #fff !important;
  transition: all 1s ease 0s;
  letter-spacing: 1em;
}
.signup-btn {
  color: #494949;
  text-transform: uppercase;
  background: #fff;
  padding: 10px 55px;
  border: none;
  border-radius: 2px;
  margin-left: 45px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.intro {
  width: 100%;
  background: #6d6d6d;
  background-image: linear-gradient(#6d6d6d, white);
  padding-top: 25px;
}
.drop-down-btn {
  display: flex;
  color: #494949;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.383);
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  padding: 10px 55px;
  border: none;
  border-radius: 2px;
  margin-top: 45px;
  margin-bottom: 45px;
  margin: 0 auto;
}
.drop-down-content {
  width: 65%;
  margin: 0 auto;
  padding: 25px;
  display: none;
}
.quote {
  font-size: 65px;
  color: lightgrey;
}
.quoteName {
  text-align: right;
  padding-right: 100px;
  color: #573305;
  font-size: 2rem;
}
.icons {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  margin: 25px;
  margin: auto;
  border-top: 1px solid #e4e4e4;
}
.iconBox {
  text-align: center;
}
.ico {
  margin-top: 20px;
  font-size: 85px;
  color: #573305;
}
.features-content {
  text-align: center;
  font-size: 45px;
  padding-top: 100px;
  padding: 10px;
  width: 75%;
  margin: auto;
  margin-bottom: 25px;
}
.features-content .features-content p {
  margin-bottom: 25px;
}
.features-content .features-h1 {
  margin-bottom: 45px;
}
.features-content .features-content-h2 {
  margin: 100px 0 10px 0;
}
tabs-main {
  flex-flow: column;
}
.activePanel {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.collect-p {
  margin-left: 65px;
  margin-bottom: 200px;
  display: flex;
}
.orgImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding-top: 35px;
  vertical-align: middle;
}
.slopedDiv {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  background-color: #6d6d6d;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
}
.research {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #6d6d6d;
  padding-top: 100px;
  margin-bottom: 100px;
}
.research h1 {
  color: white;
}
.research ol {
  color: #573305;
  padding-left: 25px;
  text-shadow: 0 3px 2px #000;
}
.research-content {
  text-align: center;
  font-size: 4em;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.mainH1 {
  font-size: 4rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 65px;
}
.slider {
  padding: 100px;
}
.filler {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  display: flex;
}
.filler .filler-content {
  position: relative;
  height: 75vh;
  width: 100vw;
  padding: 200px 0 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.filler .lambda {
  width: 100%;
  max-width: 400px;
  height: auto;
  width: 485px;
}
.filler .filler-h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 25px;
}
.filler .filler-btnDiv {
  display: flex;
  align-items: center;
  width: 100px;
  margin: auto 0;
}
.filler .parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}
.filler .bg1::after {
  background-image: linear-gradient(#573305, #6d6d6d, transparent), url(/img/typeWriter.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.team {
  padding-top: 100px;
}
.team-container {
  display: flex;
  padding: 35px;
  justify-content: center;
  flex-flow: row wrap;
}
.team-p {
  width: 500px;
  margin: auto;
  font-size: 300px;
}
.team-box {
  background-color: #e4e4e4;
  width: 400px;
  margin: 35px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.team-box img {
  margin: auto;
}
.github {
  font-size: 25px;
}
.contact {
  /* Style the submit button with a specific background color etc */
  /* When moving the mouse over the submit button, add my secondary-color */
}
.contact input[type=text],
.contact select,
.contact textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #6d6d6d;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}
.contact input[type=submit] {
  background-color: #573305;
  color: white;
  padding: 12px 20px;
  margin-bottom: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact input[type=submit]:hover {
  background-color: #6d6d6d;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #573305;
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .icon {
    display: block;
  }
  .branding h1 {
    font-size: 32px;
  }
  .header-h1 {
    text-align: center;
  }
  .drop-down-content {
    width: 85%;
    margin: 0 auto;
    padding: 25px;
    display: none;
  }
  .topnav {
    overflow: hidden;
    position: relative;
  }
  .navUl {
    display: none;
  }
}
@media (max-width: 500px) {
  padding: 10px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  .header-h1 {
    font-size: 45px;
    justify-content: center;
    align-content: center;
  }
  .header-p {
    font-size: 25px;
  }
}
