// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}





html,
body {
	height: 100%;
	// background-color: @secondary-color;
	.myFont; //here I used font stack variable

}


/*** MY CODE BEGINS HERE ***/

/*** Variables ***/
@main-color: rgb(87, 51, 5);
@secondary-color: #6D6D6D;
@nav-link-color: rgb(228, 228, 228);

/*** Mixins ***/
.border {
	border-top: solid 6px @main-color;
}

/*** main styles are below ***/
.myFont {
	font-family: 'Economica', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.buttonShadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.header-flex {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.responsive {
	width: 200px;
	height: 200px;
	margin-bottom: 100px;
	border-radius: 50%;
}

.make-responsive {
	width: 100%;
	height: auto;
	min-width: 175px;
}


//Normal CSS
a {
	color: @main-color;

	a:hover {
		color: @secondary-color;
	}

	//Here i used nesting for my link styles
}

strong {
	font-weight: bold;
}

p {
	padding-bottom: 10px;
	font-size: 24px;
}

h1 {
	font-size: 33px;
	font-family: 'Economica', sans-serif;
	color: @main-color;
}

.navIco {
	text-shadow: 5px 5px 4px #000;
}

nav a {
	color: @nav-link-color;
	text-decoration: none;
	text-shadow: 2px 2px 4px #000;
	padding-left: 20px;
	text-align: center;
	padding: 14px;
}

nav a:hover {
	text-decoration: overline;
	color: @secondary-color;
}

// sticky nav
.fixed-nav-bar {
	.border(); //here I used my mixin
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: rgba(0, 0, 0, 0.377);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 64px;
}

.navUl {
	text-transform: uppercase;
	display: flex;
	font-size: 1.5em; // using responsive units for font sizing
}

.branding {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

}

.branding h1 {
	color: #fff;
	font-size: 3rem; //here I used responsive units for font-sizing
	padding-left: 15px;
}



//main styles

.container {
	width: 65%;
	padding: 25px;
	padding-top: 50px;
	margin: 0 auto;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 6%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

//fade in for the header and drop-down-content
.fadeIn {
	opacity: 0;
	animation: fadeIn 1.8s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	30% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}



header {
	display: flex;
	height: 100vh;
	padding: 20px;
	.header-flex(); // here i made a mixin for the flex properties for the header!
	background: #000 url("/img/bookBg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.header-text {
	padding: 20px;
	display: block-flex flex;


}

.header-h1 {
	font-size: 200px;
	color: #fff;
	text-shadow: 4px 4px 8px #000000;
}

.header-p {
	color: @secondary-color;
	font-size: 40px;
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

.btn-row {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.header-btn {
	color: #fff !important;
	text-transform: uppercase;
	background: none;
	padding: 10px 55px;
	border: 2px solid #fff !important;
	border-radius: 2px;
	margin-left: 45px;
	.buttonShadow();

}

.header-btn:hover {
	color: #494949 !important;
	background: #fff;
	border-color: #fff !important;
	transition: all 1s ease 0s;
	letter-spacing: 1em;
}

.signup-btn {
	color: #494949;
	text-transform: uppercase;
	background: #fff;
	padding: 10px 55px;
	border: none;
	border-radius: 2px;
	margin-left: 45px;
	.buttonShadow();
}

.intro {
	width: 100%;
	margin-bottom: 100px;
	background: @secondary-color;
	background-image: linear-gradient(@secondary-color, white);
	padding-top: 25px;

}

.drop-down-btn {
	display: flex;
	color: #494949;
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0.383);
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	padding: 10px 55px;
	border: none;
	border-radius: 2px;
	margin-top: 45px;
	margin-bottom: 45px;
	margin: 0 auto;
}

.drop-down-content {
	width: 65%;
	margin: 0 auto;
	padding: 25px;
	display: none;

}

.quote {
	font-size: 65px;
	color: lightgrey;
}

.quoteName {
	text-align: right;
	padding-right: 100px;
	color: @main-color;
	font-size: 2rem;

}

.icons {
	display: flex;
	justify-content: space-around;
	padding: 25px;
	margin: 25px;
	margin-top: 100px;
	border-top: 1px solid @nav-link-color;
}

.iconBox {

	// border: 1px solid white;
	padding: 25px;

}


.ico {
	margin-top: 20px;
	font-size: 85px;
	color: @main-color;

}

.collect {
	background: red;
}

.organize {
	width: 75%;
	margin-bottom: 100px;
}

.organize p {
	margin-bottom: 25px;
}

.research {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

// section.work {
// 	margin-bottom: 100px;
// }

.contact {

	input[type=text],
	select,
	textarea {
		width: 100%;
		/* Full width */
		padding: 12px;
		/* Some padding */
		border: 1px solid @secondary-color;
		/* Gray border */
		border-radius: 4px;
		/* Rounded borders */
		box-sizing: border-box;
		/* Make sure that padding and width stays in place */
		margin-top: 6px;
		/* Add a top margin */
		margin-bottom: 16px;
		/* Bottom margin */
		resize: vertical
			/* Allow the user to vertically resize the textarea (not horizontally) */
	}


	/* Style the submit button with a specific background color etc */
	input[type=submit] {
		background-color: @main-color;
		color: white;
		padding: 12px 20px;
		margin-bottom: 25px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	/* When moving the mouse over the submit button, add my secondary-color */
	input[type=submit]:hover {
		background-color: @secondary-color;
	}
}

footer {
	display: flex;
	justify-content: center;
	background-color: @main-color;
	color: #fff;
}


//mobile styles
@media(max-width: 500px) {
	padding: 10px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;


}



@media only screen and (max-width: 500px) {
	.header-h1 {
		font-size: 45px;
		justify-content: center;
		align-content: center;
	}

	.header-p {
		font-size: 25px;
	}
}